    <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="/images/nav_backsplash.png">
      </div>
      <!-- <a href="#user"><img class="circle" src="https://avatars0.githubusercontent.com/u/10013762?s=460&v=4"></a> -->

      <% if @maker  %>
      <a href="#name"><span class="white-text name"><%= @maker.makername %></span></a>
      <a href="#email"><span class="white-text email"><%= @maker.email %></span></a>
      <% end %>

    </div></li>
    <li><a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="/map"><i class="material-icons">place</i>Map</a></li>
    <li><a href="/sensors/new"><i class="material-icons">alarm_add</i>Add new Sensors</a></li>
    <li><a href="/triggers"><i class="material-icons">add_alert</i>Triggers</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>