<%= render 'shared/nav_top' %>
<%= render 'shared/flash'%>
<%= render 'shared/nav_side' %>


<div class="container">

    <div class="row" align="center">
    <h4>Choose a plan to get started</h4>
    </div>

    <br><br>

    <div class="row">
        <div class="col m4 s12 offset-m4" align="center">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <span class="card-title">Hobby (Educational)</span>
            <br>
            <h6>€6 per month</h6>
            <br>
            <p>1 EcoCube (4 sensors)</p>
            <p>€6 per month for each additional EcoCube</p>
            <p>€0.10 per Alert</p>
            <br>
            <br>

            <p>€75 one off payment per EcoCube</p>
            <br>
            <br>
            </div>
            <div class="card-action">
            <a href="/checkout">Subscribe to Hobby</a>
            </div>
        </div>
        </div>
        <!-- 
        <div class="col m4 s12" align="center">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <span class="card-title">Enterprise</span>
            <br>
            <h6>€100 per month</h6>
            <br>
            <p>1 EcoCube Pro (4 sensors)</p>
            <p>€20 per month for each additional EcoCube Pro</p>
            <p>€0.10 per Alert</p>
            <br>
            <p>Enterprise Service Levels</p>
            <p>€125 one off payment per EcoCube Pro</p>
            <br>
            </div>


            <div class="card-action">
            <a href="#">Subscribe to Enterprise</a>
            </div>
        </div>
        </div>

        -->
    </div>

</div>


<script>
        $(document).ready(function(){
    $('.sidenav').sidenav();
  });
 </script>

