
<%= render 'shared/nav_top' %>

    <div class="parallax-container">
      <div class="parallax"><img src="/images/cube_forest.jpg"></div>
    </div>

    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">

        <h2>Introducing the new EcoCube</h2>

        </div>

        <div class="row">
        Remotely monitor your environment anywhere in the world. With a range of 
        sensors available, from waterproof thermometers to humidity, light intensity, 
        air quality and pressure sensors. EcoCube runs for up to 2 years on 2xAA batteries, 
        and transmits hourly recordings from anywhere in the world. 
        </div>
        <br>
        <div class="row">
        Create Dashboards to easily monitor sensor readings. Set alerts when sensors 
        hit specific values. Trigger SMS, Email and even IFTTT webhooks when certain 
        conditions are met. Use the latest graphing technologies to derive actionable 
        insight from your data. Compare different sensor readings with each other and 
        chart over time. 

        <br><br><br>
        </div>
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="/images/dashboards.png"></div>
    </div>

    <br><br>

    <div class="container">
        <div class="row">

        <div class="col m4 s12">
          <h5>Features</h5>
          <br>
          <br>
          <div class="btn btn-success white"><%= link_to 'Features', "/" %></div>
        </div>

         <div class="col m4 s12">
          <h5>Pricing</h5>
          <br>
          <br>
          <div class="btn btn-success white"><%= link_to 'Pricing', "/" %></div>
        </div>

         <div class="col m4 s12">
          <h5>Connect</h5>
          <br>
          <br>
          <div class="btn btn-success white"><a href="mailto:don@delads.com?Subject=ecocube%20connect" target="_top">Connect</a></div>
        </div>
        

        </div>

        
    </div>

    




    <script>
        $(document).ready(function(){
           $('.parallax').parallax();
        });
    </script>


  


    

  

