<%= render 'shared/nav_top' %>

    <div class="splash"> <img src="/images/cube_forest.jpg"/></div>

    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">

        <h2>EcoCube - for the next generation of Hackers</h2>

        </div>

        <div class="row">
        
        Ecocube is a box of sensors to remotely monitor atmospheric conditions. By default
        it measures temperature, humidity and pressure. It can also tell you the temperature
        of your local river, what time the sun rises and alert you if your Bonsai needs watering! 
        It doesn't need a connection to your internet; and you can place them anywhere in the world
        .... even the back garden.

        </div>

        <div class="row">
        
        Our kids are growing up in a world where technology means YouTube and Fortnite. The
        only atmospheric condition they're worried about is the temperature of their XBox and
        when it will shutdown from overheating. We want to expose them to technology, but also
        want to get them out of the house. Creating this connection between technology and the real 
        world (remember the real world?) will help build an appreciation for our environment 
        and the role technology plays. 

        </div>

        <div class="row">
        
        Ecocube aims to expose girls and boys to technology in a way that's understandable and
        healthy. They receive the box of sensors, 2 batteries (should last up to 2 years) and 
        a set of paints to comouflage their cube. They can hang it in a tree, next to the plants
        on the window sill or in the attic to see how hot it <i> really </i> gets up there in the summer. 

        </div>

        <div class="row">
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/inside_box.JPG">
                    </div>
                    <div class="card-content">
                        <p>Inside the Cube. State of the art electronics but
                           easy for the kids to see</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m3 offset-m1">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/cube_tree.jpeg">
                    </div>
                    <div class="card-content">
                        <p>No internet connection needed, so you can place them anywhere in 
                        the world .. even the back garden!</p>
                    </div>
                </div>
            </div>

             <div class="col s12 m3 offset-m1">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/river.JPG">
                    </div>
                    <div class="card-content">
                        <p>Camouflage the cube and drop the waterproof thermometer
                        into the river. </p>
                    </div>
                </div>
            </div>



        </div>


        Each cube has it's own homepage that the kids can share with each other. It contains
        a picture of their cube (and how well it's camouflaged), a little info on what it's 
        measuring and a set of graphs displaying the readings. Creating a link between data and
        the real world is an incredible skill to learn at an early age. 

        </div>


        <br><br><br><br>
        <hr>

        

    </div>
<!--
    <div class="parallax-container">
      <div class="parallax"></div>
    </div>
    -->


    <br><br>



    




    <script>
        $(document).ready(function(){
           $('.parallax').parallax();
           $('.sidenav').sidenav();
        });
    </script>



    

  

