<%= render 'shared/nav_top' %>
<%= render 'shared/nav_side' %>

    <div class="splash"> <img src="/images/Globe-Connected.jpg"/></div>

    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">

        <h2>EcoCube - Sensors As A Service</h2>

        </div>

        <div class="row">
        
        Ecocube offers a range of long life sensors for most commercial applications, from monitoring
        atmospheric conditions to location monitoring of your supply chain or fleet. Communication methods 
        include GSM, WiFi and LoRa depending on location needs. 

        </div>

        <div class="row">
        Customers control and monitor thier suite of sensors from the Ecocube dashboard. With advanced 
        analytics, users can easily derive actionable insights from real-world data giving more control
        than ever before. Ecocube's advanced Machine Learning technology helps users create Rules to 
        trigger events based on certain conditions. Advanced users can use Ecocube's reverse API and 
        Webhooks to listen to these events and create actions on their own systems.  
        

        </div>

        <div class="row">
        
        

        </div>

        <div class="row">




            <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="/images/map.jpg">
                </div>
                <div class="card-content">
                    <p>Visual map of cubes across the world. Track assets across your supply chain
                    within a 5m tolerance. 
                </div>
            </div>
        </div>

        <div class="col s12 m3 offset-m1">
        <div class="card">
            <div class="card-image">
                <img src="/images/cube.jpg" >
            </div>
            <div class="card-content">
                <p>Small sleek sensors that can be used indoors or outdoors. Modern look that won't look out of place in any setting </p> </p>
            </div>
        </div>
    </div>


             <div class="col s12 m3 offset-m1">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/eco_graph.jpg">
                    </div>
                    <div class="card-content">
                        <p>Built in SQL interface to schedule your own reports. Beautiful graphing functionality to help derrive actionable insights from data. </p>
                    </div>
                </div>
            </div>



        </div>

        
        <div class="row">

        

        </div>

       
        <div class="row">
        
        EcoCube is just starting and is not yet open to the public. If you're interested
        in knowing more, please send an email to don@delads.com 

        </div>


        <br><br><br><br>
        <hr>

        

    </div>
<!--
    <div class="parallax-container">
      <div class="parallax"></div>
    </div>
    -->


    <br><br>



    




    <script>
        $(document).ready(function(){
           $('.parallax').parallax();
           $('.sidenav').sidenav();
        });
    </script>



    

  

