<%= render 'shared/nav_top' %>
<%= render 'shared/flash'%>


<div class="container">
            <!-- Page Content goes here -->
            <div class="section">
                <h3>Edit Cube</h3>
            </div>

            <%= render 'form' %>
</div>