<%= render 'shared/nav_top' %>
<%= render 'shared/nav_side' %>
<%= render 'shared/flash'%>


<div class="container">
    <h5>Create new trigger</h5>
</div>



<%= render 'form' %>

<script>
       $(document).ready(function(){
    $('.sidenav').sidenav();
    $('select').formSelect();
  });
</script>